<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        div.container{
            width: 600px;
            margin: 0 auto;
            text-align: center;
            color: lightslategrey;
        }
        button{
            margin: 10px;
            padding: 10px;
            background-color: darkgoldenrod;
            color:yellow;
                    }
    </style>
</head>
<body>
    <div class="container">
        <h2>Welcome To The Data Presentation Application of Titanic Dataset</h2>
        <button onclick="window.location.href='titanic?graph=1'">graph</button>
        <button onclick="window.location.href='titanic?graph=0'">Table</button>
       
    </div>
</body>
</html>