<table>
    <tr>
        <th>PassengerId</th>
        <th>Survived</th>
        <th>Pclass</th>
        <th>Name</th>
        <th>Sex</th>
        <th>Age</th>
        <th>SibSp</th>
        <th>Parch</th>
        <th>Ticket</th>
        <th>Fare</th>
        <th>Cabin</th>
        <th>Embarked<br></th>
    </tr>
    <tr>
        <td>1</td>
        <td>0</td>
        <td>3</td>
        <td>&quot;Braund</td>
        <td> Mr. Owen Harris&quot;</td>
        <td>male</td>
        <td>22</td>
        <td>1</td>
        <td>0</td>
        <td>A/5 21171</td>
        <td>7.25</td>
        <td></td>
    </tr>
    <tr>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>&quot;Cumings</td>
        <td> Mrs. John Bradley (Florence Briggs Thayer)&quot;</td>
        <td>female</td>
        <td>38</td>
        <td>1</td>
        <td>0</td>
        <td>PC 17599</td>
        <td>71.2833</td>
        <td>C85</td>
    </tr>
    <tr>
        <td>3</td>
        <td>1</td>
        <td>3</td>
        <td>&quot;Heikkinen</td>
        <td> Miss. Laina&quot;</td>
        <td>female</td>
        <td>26</td>
        <td>0</td>
        <td>0</td>
        <td>STON/O2. 3101282</td>
        <td>7.925</td>
        <td></td>
    </tr>
    <tr>
        <td>4</td>
        <td>1</td>
        <td>1</td>
        <td>&quot;Futrelle</td>
        <td> Mrs. Jacques Heath (Lily May Peel)&quot;</td>
        <td>female</td>
        <td>35</td>
        <td>1</td>
        <td>0</td>
        <td>113803</td>
        <td>53.1</td>
        <td>C123</td>
    </tr>
    <tr>
        <td>5</td>
        <td>0</td>
        <td>3</td>
        <td>&quot;Allen</td>
        <td> Mr. William Henry&quot;</td>
        <td>male</td>
        <td>35</td>
        <td>0</td>
        <td>0</td>
        <td>373450</td>
        <td>8.05</td>
        <td></td>
    </tr>
</table>